[mos92-updates]
name=mos92-updates
baseurl=http://mirror.seed-us1.fuel-infra.org/mos-repos/centos/mos9.0-centos7/snapshots/{{mos_centos_proposed_mirror_id}}/x86_64/
        http://mirror.seed-cz1.fuel-infra.org/mos-repos/centos/mos9.0-centos7/snapshots/{{mos_centos_proposed_mirror_id}}/x86_64/
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-mos9.0
gpgcheck=1